.landing-left {
  flex: 1.2;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.landing-left h1 {
  color: hwb(0 2% 64%);
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 0.5rem;
}

.landing-left h3 {
  color: #4f0101;
  margin-bottom: 1rem;
  font-weight: 600;
}

.landing-left p {
  color: hsl(0, 100%, 99%);
  margin-bottom: 2rem;
  line-height: 1.5;
}

.landing-left img {
  max-width: 200%;
  height: auto;
  margin-top: -120px;
  margin-bottom: -50px;
  align-self: center;
}
